* {
    box-sizing: border-box;
}

body {    
    display: grid;
    grid-template-columns: 130px 1fr;        
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   
}

main {
    background-color: #EEF2F9;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-areas:
    "header header"
    "title title"
    "george notifications"
    "blocks blocks";
    align-items: start;
    align-content: start;
    gap: 20px;
    padding: 20px 30px;
 
}

.title-sec {
    grid-area: title;
    display: flex;
    justify-content:space-between;   
    align-items: center;
}

h1 {
    margin-left: 40px;
}

.byday {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.byday-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    border: 2px solid #C8CFD8;
    border-radius: 10px;
    padding: 0px 15px;    
}

.byday-2 > p {
    font-size: 14px;
}

.title-icon {
    width: 25px;
}

.byday > button {
    background-color: #517ABD;
    border: none;
    border-radius: 10px;
    width: 160px;
    padding: 15px 15px;
    color: white;
    box-shadow: 10px 20px 30px 10px rgba(81, 122, 189, 0.3);
}

.byday > button:hover {
    background-color: #C1CFE7;
    cursor: pointer;
    color: black;
}

.george {
    grid-area: george;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30px;
    padding-left: 40px;
}

.hi {
    font-size: 30px;
}

.what {
    color:#848E98
}

.george-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.george-icons {
    width: 20px;
}

.george-icons-1 {
    width: 19px;
}

.george-links > p {
    font-size: 12px;
}

.george-logo {
    position: absolute;
    top: -70px;
    right: 80px;
    width: 250px;
}

.ic2 {
    margin-left: 15px;
}

.ic4 {
    margin-left: 13px;
}

.workers {
    border-bottom: 1px solid #547DBF;
    color: #547DBF;  
}