* {
    box-sizing: border-box;
}

body {    
    display: grid;
    grid-template-columns: 130px 1fr;        
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   
}

main {
    background-color: #EEF2F9;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas:
    "header header"
    "title title"
    "george notifications"
    "blocks blocks";
    align-items: start;
    align-content: start;
    gap: 20px;
    padding: 20px 30px;
 
}